body{
    background-color: rgba(123, 151, 230, 0.438);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.205);
}

.fotos {
    text-align: center;
}

img {
    height: 200px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}